@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(1, 1, 16);
  background: radial-gradient(circle, rgb(1, 1, 17) 16%, rgb(0, 0, 1) 92%);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}
.pulse {
  animation: pulse 1.5s infinite;
}
